.nav-left img {
    width: 9rem;
    cursor: pointer;
    animation: rotate360 60s linear infinite;
}

.nav-container {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}
.nav-right ul{
    gap: 2.6rem;
}
.nav-right li{
    text-transform: uppercase;
    font-size: 2.6rem;
    cursor: pointer;
}

@media screen and (max-width: 498px) {
    .d-flex{
        display: block;
    }
    
}

@keyframes rotate360 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
