* {
    box-sizing: border-box;
    line-height: 1;
    background-color: transparent;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }

.container{
    width: 90%;
    margin:auto;
}
@media screen and (max-width: 638px) {
    .container{
        width: 95%;
    }
}