.slider-item-line{
  display: flex;
  height: 35rem;
  width: 35rem;
  margin: 2rem;
  overflow: hidden;
  
}
.slider-item-item{
  position: relative;
  left: 0%;
  }
  
  .slider-item-item img {
    height: 100%;
    object-fit: cover;
  }
  
  @media screen and (max-width: 738px){
    .slider-item-line{
      height: 25rem;
      width: 25rem;

    }
  }
  @media screen and (max-width: 498px){
    .slider-item-line{
      height: 15rem;
      width:15rem;

    }

}
@media screen and (max-width: 340px){
  .slider-item-line{
    height: 10rem;
    width:10rem;

  }
}
