.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin-top: 5rem;
}

.slider-container h1{
    font-size: 4rem;
}
.slider-container button img{
    width: 4rem;
    transition: 0.5s;
}
.slider-container button img:hover{
    scale: 1.2;
}

@media screen and (max-width: 738px){
    .slider-container button img{
        width: 3rem;
    }
  }

  @media screen and (max-width: 498px){
    .slider-container button img{
        width: 2rem;
    }

}
